<!-- Componente hijo toolbar -->
<app-toolbar></app-toolbar>
<!-- Componente hijo aside -->
<app-aside></app-aside>
<!-- Componente padre section -->
<section>
  <div class="row row-cols-1 row-cols-md-4 g-4">
    <div class="col">
      <div class="card">
        <img src="../assets/img/1.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, quam?</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="../assets/img/2.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">TLorem ipsum dolor sit amet consectetur adipisicing elit. Cum, quam?</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="../assets/img/3.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, quam?</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="../assets/img/5.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, quam?</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="../assets/img/6.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">TLorem ipsum dolor sit amet consectetur adipisicing elit. Cum, quam?</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="../assets/img/7.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, quam?</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="../assets/img/8.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, quam?</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="../assets/img/9.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">TLorem ipsum dolor sit amet consectetur adipisicing elit. Cum, quam?</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Componente hijo footer -->
<app-footer></app-footer>